<!DOCTYPE html>
<html>
  <head>
    <title>AMurmur</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "wrapper">
      <header>
        <ul>
          <li><a href="#">つぶやきアプリケーション</a></li>
          <li><a href="#">トップ画面へ（）</a></li>
        </ul>
      </header>
    <%= yield%>

      <footer>
        <p>おもろいつぶやきが難しい</p>
      </footer>
    </div>
  </body>
</html>




